@using Inventory.Models;
@using System.Data;
<script>
    //$(document).ready(function () {
    //    $("#txtEntryDate").datepicker();
    //})
</script>

<div id="partial_assign" style="display:none">
    @using (Html.BeginForm("Dashboard", "Account", FormMethod.Post))
    {
        <div class="row">
            <div class="col col-sm-2">
                Customer
            </div>
            <div class="col col-sm-4">
                <select name="ddlPartialCustomer">
                    <option value="0">--Select--</option>
                    @{
                        System.Data.DataTable dataTable = ViewBag.dtCustomerEquip;
                        var pdata = (from p in dataTable.AsEnumerable()
                                     select new
                                     {
                                         CustomerID = p.Field<Int32>("CustomerID"),
                                         CustomerName = p.Field<string>("CustomerName"),
                                         CustomerMobile = p.Field<string>("CustomerMobile"),
                                         EquipCount = p.Field<Int32>("EquipCount"),
                                     }).ToList();
                        foreach (var obj in pdata)
                        {
                            <option value="@obj.CustomerID.ToString()">@obj.CustomerName</option>
                        }
                    }
                </select>
            </div>
            <div class="row">
                <div class="col col-sm-2">
                    Select Equipment
                </div>
                <div class="col col-sm-4">
                    <select name="ddlEquipmentName">
                        <option value="0">--Select--</option>
                        @{ 
                            List<BaseEquipment> list = (List<BaseEquipment>)ViewBag.list;
                            foreach (BaseEquipment obj in list)
                            {
                                  <option value="@obj.EquipmentID">@obj.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="col col-sm-2">
                    Quantity
                </div>
                <div class="col col-sm-4">
                    <input type="text" name="txtQuantityAssign" id="txtQuantity" />
                </div>
            </div>
            <div class="row">
                <input type="submit" name="btnSearch" id="btnPartialSubmit" value="Add Assignment" />
            </div>
            }
        </div>
    }
 </div>