
<script>
    $(document).ready(function () {
        $("#txtEntryDate").datepicker();
    })
</script>

<div id="partial_entry" style="display:none">
    @using (Html.BeginForm("Dashboard", "Account", FormMethod.Post))
    {
        <div class="row">
            <div class="col col-sm-2">
                Select Equipment
            </div>
            <div class="col col-sm-4">
               <input name="ddlEquipmentName" placeholder="Equipment Name" />
            </div>
            <div class="col col-sm-2">
                Quantity
            </div>
            <div class="col col-sm-4">
                <input type="text" name="txtQuantity" id="txtQuantity" />
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-2">
                Entry Date
            </div>
            <div class="col col-sm-4">
                <input type="text" name="txtEntryDate" id="txtEntryDate" />
            </div>
        </div>
        <div class="row">
            <input type="submit" name="btnSearch" id="btnPartialSubmit" value="Add Equipment" />
        </div>
    }
    </div>
