@using Inventory.Models;
@{
    ViewBag.Title = "DashBoard";
}


<h1>@ViewBag.Title</h1>


@{ List<BaseEquipment> list = (List<BaseEquipment>)ViewBag.list;
    <table class="table table-hover table-borderless ">
        <tr class="bg-danger">
            <th>Name</th>
            <th>EcCount</th>
            <th>DateEntry</th>
        </tr>


        @foreach (BaseEquipment item in list)
        {
            <tr class="bg-primary bg-opacity-10">
                <td>@item.Name</td>
                <td>@item.EcCount</td>
                <td>@item.DateEntry</td>

            </tr>
        }
    </table>
}
