<div id="dbGlobalPartialMsg">
    <span id="spnGlobalPartialMsg"></span>
    <input  type="button" value="Redirect To DashBoard" onclick="window.location.href='@Url.Action("Dashboard", "Account")'" />
</div>
 